<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team | IDP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutstyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header class="navbar">
            <div class="nav_img">
                <img src="{{ url_for('static', filename='sabudh_foundation_logo.jpg') }}" alt="Foundation Image">
            </div>
        </header>

        <section class="team-description">
            <div class="container-inner">
                <h1>About Us</h1>
                <p>A team of 7 people (3 mentors, 4 interns) came together to develop this website during the 6-Month Data
                    Science Internship at Sabudh Foundation - Mohali.</p>
            </div>
        </section>

        <section class="grid">
            <div class="grid-item">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-header">Ishleen Kaur</h2>
                        <p class="card-text">
                            Intern | NER
                            <br><br>
                            <a href="ishleenkaur256@gmail.com" target="_blank" class="card-link">Email</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-header">Krishnendu Biswas</h2>
                        <p class="card-text">
                            Intern | TSR
                            <br><br>
                            <a href="https://www.linkedin.com/in/krishnendu2004/" target="_blank" class="card-link">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-header">Ali Haider Khan</h2>
                        <p class="card-text">
                            Intern | TS
                            <br><br>
                            <a href="https://www.linkedin.com/in/ali-haider-khan-786900210/" target="_blank" class="card-link">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-header">Aditya Thite</h2>
                        <p class="card-text">
                            Intern | TS
                            <br><br>
                            <a href="https://www.linkedin.com/in/aditya-thite-72ab5a161/" target="_blank" class="card-link">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="grid2">
            <div class="grid-item">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-header">Dr. Chandan Biswas</h2>
                        <p class="card-text">
                            Sr. Project Mentor
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-header">Manpreet Singh</h2>
                        <p class="card-text">
                            Mentor
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-header">Akshay Kumar</h2>
                        <p class="card-text">
                            Mentor
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container-inner">
                <p>&copy; 06-2024 IDP. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>

</html>
